.parceiros {
    padding-top: 60px;
    padding-bottom: 120px;
}

.parceiros h2 {
    margin-bottom: 60px;
}

.parceiros ul {
    padding: 0 20px;
    max-width: 1400px;
    /* o maximo que o elemento vai crescer */
    margin: 0 auto;
    /* quando crescer acima de 1400px ele vai centralizar o conteudo */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
    display: flex;
    /* para poder conseguir alinhar a imagem ao centro com o margin auto */
    padding: 32px;
    border-left: 2px solid var(--cor-2);
}

.parceiros img {
    margin: auto;
    /* alinhado ao centro o elemento */
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
    border-left: none;
    /* removendo borda do primeiro item e do quinto item*/
}

.parceiros li:nth-child(n + 5) {
    /* aplicando borda a partir do 5 item */
    border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
    .parceiros {
        padding-bottom: 60px;
    }
    .parceiros li {
        display: flex;
        /* para poder conseguir alinhar a imagem ao centro com o margin auto */
        padding: 20px;
    }
    .parceiros h2 {
        margin-bottom: 20px;
    }
    .parceiros ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .parceiros li:nth-child(n + 3) {
        /* aplicando borda a partir do 3 item */
        border-top: 2px solid var(--cor-2);
    }
    .parceiros li:nth-child(odd) {
    border-left: none;
    /* removendo borda dos itens impares */
    }
}